<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>学生表信息</title>
    <style>
        * {
            margin: 20px auto;
        }

        th, td {
            width: 150px;
        }
    </style>
</head>
<script th:inline="javascript">
    let msg = [[${session.msg}]];
    if (msg) {
        alert(msg);
    }
</script>
<body>
<div class="container">
    <div class="row">
        <div class="col align-items-center">
            <a class="align-baseline" th:href="@{StudentsPageOn()}">按页查看</a>
            <table class="table table-hover align-baseline">
                <tr>
                    <th colspan="6">学生表信息</th>
                </tr>
                <tr>
                    <th scope="col">学号</th>
                    <th scope="col">姓名</th>
                    <th scope="col">年龄</th>
                    <th scope="col">性别</th>
                    <th scope="col">等级</th>
                    <th scope="col">操作</th>
                </tr>
                <tr th:each="student:${session.students}">
                    <th scope="row" th:text="${student.id}"></th>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.age}"></td>
                    <td th:text="${student.gender}"></td>
                    <td th:text="${student.grande}"></td>
                    <td>
                        <a th:href="@{/editStudent(id=${student.id})}">修改</a>&nbsp;&nbsp;
                        <a th:href="@{/deleteStudent(id=${student.id})}">删除</a>&nbsp;&nbsp;
                        <a href="/addStudent">添加</a>
                    </td>
                </tr>
            </table>
<!--            分页-->
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>