<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">

    <title>按页查询</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <!--条件查询-->
            <form class="form-inline" action="/studentsOnPage/withCondition">
                <div class="form-group mb-2">
                    <label for="username" class="">姓名:</label>
                    <input type="text" class="form-control" id="username"
                           name="name"
                           th:value="${condition.name}"
                    >
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label for="birthday" class="">年龄：</label>
                    <input type="number" class="form-control" id="birthday"
                           placeholder="birthday"
                           name="age"
                           th:value="${condition.age}"
                    >
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <label class="">性别：</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                               name="gender"
                               id="inlineRadio1"
                               value="male"
                               th:checked="${condition.gender == 'male' ? true : false}"
                        >
                        <label class="form-check-label" for="inlineRadio1">男</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio"
                               name="gender"
                               id="inlineRadio2"
                               value="female"
                               th:checked="${condition.gender == 'female' ? true : false}"
                        >
                        <label class="form-check-label" for="inlineRadio2">女</label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mb-2">查询</button>
            </form>

            <table class="table">
                <tr>
                    <th colspan="6">学生表信息</th>
                </tr>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>等级</th>
                    <th>操作</th>
                </tr>
                <tr th:each="student:${onePageList}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.age}"></td>
                    <td th:text="${student.gender}"></td>
                    <td th:text="${student.grande}"></td>
                    <td>
                        <a th:href="@{/editStudent(id=${student.id})}">修改</a>&nbsp;&nbsp;
                        <a th:href="@{/deleteStudent(id=${student.id})}">删除</a>&nbsp;&nbsp;
                        <a href="/addStudent">添加</a>
                    </td>
                </tr>
            </table>
            <nav aria-label="分页条">
                <ul class="pagination justify-content-center">
                    <!--所有页数显示块-->
                    <li class="page-item">共<span th:text="${page.totalRowsCount}"></span>条</li>
                    <!--上一页-->
                    <li th:class="${page.hasPervPage ? 'page-item' : 'page-item disabled'} ">
                        <a class="page-link"
                           th:href="@{/studentsOnPage(currentPageNumber=${page.prevPageNumber})}">
                            Previous</a>
                    </li>
                    <!--页码按钮-->
                    <li th:class="${loopNumber==page.currentPageNumber ? 'page-item active' : 'page-item'}"
                        th:each="loopNumber : ${page.pageNumbers}">
                        <!-- ↑根据页码数组遍历此按钮 ↑-->
                        <a class="page-link"
                           th:href="@{/studentsOnPage(currentPageNumber=${loopNumber})}"
                           th:text="${loopNumber}"></a></li>

                    <li th:class="${page.hasNextPage ? 'page-item' : 'page-item disabled'}">
                        <a class="page-link"
                           th:href="@{/studentsOnPage(currentPageNumber=${page.nextPageNumber})}">Next</a>
                    </li>
                    <li class="page-item">共<span th:text="${page.totalPagesCount}"></span>页</li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>