<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>异步请求</title>
</head>
<body>
<div>
    <button onclick="xhrSend()">xhrSend</button>
    <button onclick="fetchSend()">Fetch发送</button>
    <button onclick="jQueryAjaxSend()">jQueryAjax发送</button>
    <button onclick="axiosSend()">axiosSend</button>
</div>
<script src="/js/jQuery.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/vue.js"></script>
<script src="/js/get.js"></script>
<script>
</script>
</body>
</html>